@font-face {
	font-family: "iA Writer Duospace";
	src: url("/iAWriterDuospace-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "iA Writer Duospace";
	src: url("/iAWriterDuospace-Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "iA Writer Duospace";
	src: url("/iAWriterDuospace-RegularItalic.otf") format("opentype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "iA Writer Duospace";
	src: url("/iAWriterDuospace-BoldItalic.otf") format("opentype");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
