@font-face {
	font-family: "iA Writer Duospace";
	src: url("/iAWriterDuospace-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "iA Writer Duospace";
	src: url("/iAWriterDuospace-Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "iA Writer Duospace";
	src: url("/iAWriterDuospace-RegularItalic.otf") format("opentype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "iA Writer Duospace";
	src: url("/iAWriterDuospace-BoldItalic.otf") format("opentype");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

html {
	font-family: "iA Writer Duospace", monospace;
	font-size: 16px;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 100ch;
	padding: 0;
	line-height: 1.5;
	margin-left: auto;
	margin-right: auto;
	-webkit-font-smoothing: antialiased;
}

p {
	margin: 2rem 0;
}

* {
	box-sizing: border-box;
}

h1 {
	margin: 1rem 0;
	font-size: 2rem;
	text-transform: uppercase;
}

h2 {
	margin: 1rem 0;
	padding: 0;
}

/* Sections */

.site-container {
	display: flex;
}

.side-menu {
	top: 0;
	bottom: 0;
	width: 20rem;
	position: fixed;
	border-right: 1px solid silver;
	padding: 0 4rem;
}

.content {
	position: relative;
	margin-left: 20rem;
	padding: 0 4rem;
}

.side-menu menu,
.side-menu menu ul {
	padding-left: 0;
}

/* nav styles */

/*
.menu {
	background-color: #0d0950;
	border: none;
	color: #fff;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 5px 10px;
	margin-bottom: 10px;
}

.nav-links {
	width: 100%;
	display: none;
	margin: 0;
}

.nav-links a {
	display: block;
	text-align: center;
	padding: 0;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #0d0950;
}

.nav-links a:hover,
.nav-links a:focus {
	color: silver;
}

:has(.menu[aria-expanded="true"]) .nav-links {
	display: unset;
}

header {
	border-bottom: 1px solid black;
}
*/

.rss-link {
	display: flex;
	align-items: center;
	gap: 6px;
	color: #e65100;
	text-decoration: none;
	font-weight: 500;
}

.rss-link:hover {
	text-decoration: underline;
}

@media screen and (min-width: 636px) {
	/*
	.nav-links {
		display: flex;
		background: none;
	}

	.push {
		margin-left: auto;
	}

	.nav-links a {
		display: inline-block;
		padding: 15px 20px;
	}

	.menu {
		display: none;
	}
	*/
}

html.dark {
	background-color: #0d0950;
	color: #fff;
}

.dark .menu {
	background-color: #fff;
	color: #000;
}

/*
.dark .nav-links a:hover,
.dark .nav-links a:focus {
	color: silver;
}

.dark .nav-links a {
	color: #fff;
}
*/

.dark a {
	color: #ff9776;
}

/*
.dark header {
	border-bottom-color: white;
}
*/
