---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "About Me"
---

<BaseLayout pageTitle={pageTitle}>

	<p>Born and still living in Somerset, England, I'm a father of two and a software engineer who loves music, likes movies and enjoys reading when I find the right book. </p>

	<p>I had started writing a 10 minute-epic tell-all About Me which delved into the darkest depths of my soul, but as I replace that with this placeholding version, I'm not sure if I'm quite ready to be that open just yet. For now I can convince myself that this page just needs to be an "<a href="https://en.wikipedia.org/wiki/Minimum_viable_product" target="_blank">MVP</a>" to get things up and running... That is what you say when you want to half-arse something.</p>

	<p>Still.... the timeline survived:</p>
	
	<h3>Timeline...</h3>
	<ul>
		<li>1981: Born in Taunton, Somerset, raised in Bridgwater</li>
		<li>1992: First holiday abroad (Corfu)</li>
		<li>1996: Got connected to the Internet and the World Wide Web</li>
		<li>1997: Left school</li>
		<li>1999: Got first proper job that stuck</li>
		<li>2000: Gave up on college</li>
		<li>2002: Went to my first Glastonbury Festival</li>
		<li>2003: Met my future wife</li>
		<li>2005: Moved into first home with future wife. Got first job in tech (front line support)</li>
		<li>2006: Got first job as a developer (Korn Shell (!) working on a Data Warehouse)</li>
		<li>2007: Went to my final full Glastonbury Festival (still hoping to return)</li>
		<li>2008: Moved into kid-ready house, got married</li>
		<li>2009: Had first child (365 days to the day from when we got married)</li>
		<li>2011: Had second and presumably final child</li>
		<li>2015: Joined my current company, which has since merged into others</li>
		<li>2020: Moved into THE house for us (I don't think it is though...)</li>
	</ul>
	<hr>
	<h2>Ambitious Version</h2>
	<h3>More...</h3>

	<h4>Introvert</h4>

	<p>Despite what my teenage daughter might argue, I'm introverted. In fact doing a Higgs Boson test for work (as part of a "Being More Assertive" course - which was actually surprisingly good) and discovering I was classed as introverted and what that meant helped make a lot of things make a lot of sense.</p>

	<p>With the introversion comes the fact that I'm very sefl-concious of what others might think. Ask my mother what one of my princples might be, and she might answer "don't worry about what others think". And it's true. I've got so much time for people who disregard what others think. I'm just rubbish at living it myself. </p>

	<p>Given all of the above, this blog and this About page is up there in terms of my worst nightmares. "The pretention of writing such a thing!", is probably what most people are thinking. I assume.</p>

	<p>But part of the reason I decided to do this blog is because of that. Or to try and shake that.</p>

	<p>As for the other reasons I'm doing this blog? See the <a href="/posts/post-1">introduction post</a>... </p>

	<h4>Enjoyer of New Things</h4>

	<p>Others might disagree on this view of me, but I genuinely enjoy trying new things. The constraints of having a family don't always make that easy, but I do look to make small wins where this is concerned:</p>

	<ul>
		<li>I put more effort into listening to bands I've not heard before over bands I already know I like (same for music genres in general).</li>	
		<li>I'd rather watch a new to-me movie than something I've seen before. Although there's always a time and a place for something you know and love.</li>	
		<li>When out drinking I try my best not to return to the same tap for my next drink.</li>	
	</ul>

	<p>Just in general I'd rather do something new than something I've done before. As I tell my kids, you never know when the next song or album could be the greatest thing you've ever heard, and it's just waiting there for you to find it.</p>

	<h4>Positive Outlooker (do better on this title)</h4>

	<p>This sounds cliched, but I try to make the most of any situation. There's usually a positive spin on most things and I try and find it. This does have the weird side effect of me questioning myself on whether I'm selfish, as I've noticed that my immediate thought tends to be "How can I gain here?". "What's in it for me?". That's certainly a selfish outlook, but honestly it's more a case of "how can I take something positive from this?".</p>

	<p>TRY TO THINK OF EXAMPLES</p>

	<h4>Geek</h4>

	<p>Work isn't all sunshine and roses, but I think it's fair to say that as a developer I do what I love for a living. I don't spend my entire time doing things I love, and I rarely get to do the purest form of it, but on the whole I enjoy it. I get to try new software, to improve myself and workflow, and to solve problems. It ticks boxes and I get paid to have them ticked.</p>

	<p>I appreciate how much I enjoy my job the moment I'm put out of my comfort zone elsewhere in life, such as doing DIY. When that happens I long to be sat behind the keyboard.</p>

	<p>I first tasted the joy of programming when we setup a Spectrum Emulator on an Amiga and my brother showed me a loop in BASIC. I found it genuinely amazing that I could control what was displayed on screen.</p>

	<p>None of my family - that brother included - were particularly tech minded and certainly not geeky, and so I tended to learn for myself by exploring. The more I did, the more I realised I couldn't truly screw things up and the more confident I became. I think my kids suffer the opposite issue, where I tend to take care of those needs for them. As a result, they don't learn how far the boundaries are and so the idea of something as simple as plugging in an xbox is a scary prospect. And I get that, as I'm the same with DIY.</p>

	<p>The older I got, the more I embraced being a geek. I soon learnt that I felt far more comfortable messing with a computer than I did messing around over the park. And I've no regrets there, despite the fact my generation tends to frown upon that way of life.</p>

	<p>I was the first person I knew who had a connection to the Internet. As impressive as the net and the world wide web (only a couple years old at the time) was, it wasn't particularly good on the Amiga. It wasn't until I switched to a PC that I really found the benefits.</p>

	<p>Being able to upload something I created for the world to see had the same impact on me as that earlier loop on the Spectrum emulator.</p>

	<p>Initially I took advantage of that, creating a Total Annihilation fan site which people actually read, and creating a web reselling business (Easyhosts) that had actual customers. Both superb fun to do.</p>

	<p>The days of me shipping things kind of died when I met my wife and other things became a priority. One of the goals of this web site is to change that and for me to start shipping things again.</p>

	<p>Having taught myself to code (to be clear: this isn't some boast - I suspect most coders do) but also having failed college, I eventually struck lucky and got a job in IT as front-line tech support. With my foot in the door I was able to get a dev role, and I've not looked back.</p>

	<h4>Father, Husband</h4>

	<p>I've got several friends who for whatever reasons don't have family. They go places, do things and generally please themselves. I can't lie: it sounds amazing.</p>

	<p>I wouldn't swap it though.</p>

	<p>Sometimes I try and explain to them why, and it's a hard sale! The wife bit isn't. They've experienced that part and know it's great. But the kids bit is.</p>

	<p>There is something unquantifiable about having kids. You can see the maths, and yet it somehow doesn't add up.</p>

	<p>I don't know how you can explain how your son playing really well during a football match on a Saturday morning can completely make your weekend. That the Saturday night's music listening session will be so much better for it because you'll be buzzing just thinking about it.</p>

	<p>Or that going from shop to shop to shop to shop with my daughter is actually quite good fun, because I connect with her in a way I don't connect with many other people.</p>

	<p>And sorry for those stereotypical examples. For the record my daughter also plays football, but my son doesn't do the shopping, and so that's the way those examples had to be.</p>

	<p>The short of it is, the family brings things to my life that nothing else can. No number of gigs or trips away would make up for all the small wins you get from having a family.</p>

	<h4>Music Lover</h4>

	* Music - love it, defines who I am
	* Records, CDs, Gigs
	* Discogs link
	* Joy of working from home
	* Love the challenge of something I'm unsure about. Happy to invest time.

	As you hate the question "what music do you like?", ask/answer these questions to give an idea. Maybe try to think of  more.

	* First band seen live
	* Last band seen live
	* Favourite band seen live
	* Favourite radio station
	* Favourite support act
	* Last song to blow your mind
	* Last album purchased at time of writing
	* Favourite album from current year
	* Favourite radio DJ
	* A song that surprised you by becoming your favourite
	* An artist/band you think are underrated

	<h4>Sports Lover</h4>

	* Sport - Love it, ruiner of weekends, my way of relaxing
		* Loved it, lost it, rediscovered it.
		* Creates some of life's highs.
		* Can ruin weekends
		* Comforting knowing there is something on at night.

	<h4>Movie Liker</h4>

	* Movies
		* Always enjoyed them, but never been massively into them.
		* Link to a post about 1 movie a week. Write the post too :)

	<h4>Optimizer</h4>

	* Productivity/Optimizing Workflow
		* Trying to make small incremental changes on a daily basis.
		* Dropping Steps Blog?

	<h4>"Student"</h4>
	
	* Learning new things
		* Helped me become a software engineer
		* Love the possibilities
		* Satisfying when I put it to use

	<h4>Runner</h4>

	* Running
		* Lost commute during covid combined with purchase of AirPods.
		* Genuinely no idea why I enjoy running, but if I go a day without doing it I feel the urge to do it.
		* Rarely is it fantastic, but rarely do I regret it.
		* Some runs - when combined with podcasts - are unforgettable though.

	<h4>Walker</h4>

	* Walking
		* I don't drive - big mistake.
		* Out of necessity maybe, I love walking.
		* I still get a sad thrill when I see a public footpath sign.
		* Change to listen to podcasts, music or just think.
		* Long walks with friend.

	<h4>Eater</h4>

	* Food
		* Use to be fussy. Very fussy.
		* Trip to America, peer pressure, no looking back...
		* Will now try anything.

</BaseLayout>
