---
const {url, title, pubDate} = Astro.props;
---
<style>
  .pub-date {
    display: inline-block;
    margin-right: 20px
  }
</style>
<li><span class="pub-date">{pubDate.toString().slice(0,10)}</span><a href={url}>{title}</a></li>
